@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(167, 156, 134);
}

/* -- HEADER ----------------------------------------------------- */

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav div a {
    font-size: 15px;
    font-weight: 600;
    color: rgb(56, 51, 46);
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

header nav div a img {
    height: 203px;
    padding: 0px 10px 0px 10px;
}



/* -------------------------------------------------------------- */

.tienda {
    background-image: url(./assets/img/tienda.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tiendaTitulo {
    font-size: 100px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 10%;
}

/* -------------------------------------------------------------- */

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10%;
}

section div {
    background-color: rgb(167, 156, 134);
    border-style: none;
    margin: 10px;
}

section div img {
    width: 300px;
}

section div h1 {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(56, 51, 46);
    text-align: center;
}

section div h2 {
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #595959;
    text-align: center;
}

.agregar-carrito {
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #595959;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
}

/* -- CARRITO ---------------------------------------------------- */

.carritoTitulo {
    font-size: 50px;
    font-weight: 500;
    color: white;
    text-align: center;
}

#carrito {
    margin: 0% 15% 10% 15%;
}

#vaciar-carrito {
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #595959;
    background-color: rgb(167, 156, 134);
    border-color: #595959;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
}

.borrar-prenda {
    text-decoration: none;
    color: black;
}

/* -- FOOTER ----------------------------------------------------- */

.contacto {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: rgb(56, 51, 46);
    text-decoration: none;
    margin: 3%;
}

footer div {
    display: flex;
    justify-content: center;
    margin-bottom: 13%;
}

footer div a {
    font-size: 12px;
    font-weight: 600;
    color: rgb(56, 51, 46);
    text-decoration: none;
    margin: 0px 5px 0px 5px;
}